{% extends "base.html" %}
{% block content %}
    <style type="text/css">
        .post {
            background-color:lightgray;
        }
    
        .subject {
            display: inline;
            font-weight: bold;
        }
        .subject-date {
            display: inline;
        }
        .content {
            background-color:pink;
        }
    </style>

    <div class="menu">
        <a href="blog/newpost">Write a new post</a>
    </div>
    {% for post in posts %}
        <div class="post">
            <div class="subject">
                {{post.subject}}
            </div>

            <div class="subject-date">
                {{post.posted}}
            </div>

            <div class="content">
                {{post.content}}
            </div>
        </div>
        <hr>
        <br>
    {% endfor %}
{% endblock %}
